.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  /* background-color: red; */
}

.heroText {
  font-size: 4rem;
}

.heroSubText {
  font-size: 2rem;
  margin-top: -90px;
}

.heroSpark {
  font-size: 8rem;
}

/* company info */
.sessionInfo {
  min-height: 100vh;
  /* border: 1px solid red; */
}

.companyInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* border: 1px solid red; */
  /* color: #320a28; */
  color: #e77728;
  padding: 20px;
}

.companyInfoContainer p {
  color: #000;
  font-weight: bold;
  font-size: 1.4rem;
}

.infoTitleBox {
  padding: 10px;
  /* text-align: center; */
}
.companyInfoTitle {
  font-size: 3.5em;
}

.starOne {
  position: absolute;
  top: -160px;
  left: -90px;
}

.starTwo {
  position: absolute;
  bottom: -130px;
  right: -50px;
}

/* company details */
.companyDetails {
  padding: 20px;
  height: 100vh;
  padding-left: 15%;
  padding-right: 15%;
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #f3ba91;
}

@media (max-width: 600px) {
  .companyInfoTitle {
    font-size: 2.4rem;
  }

  .starOne {
    top: -200px;
    left: -90px;
  }

  .starTwo {
    position: absolute;
    bottom: -150px;
    right: -50px;
  }

  .companyInfoContainer p {
    font-size: 1.2rem;
  }

  /* company details */
  .companyDetails {
    padding: 20px;
  }
}
